**Question 1**
Given three integer arrays arr1, arr2 and arr3 **sorted** in **strictly increasing** order, return a sorted array of **only** the integers that appeared in **all** three arrays.

**Example 1:**

Input: arr1 = [1,2,3,4,5], arr2 = [1,2,5,7,9], arr3 = [1,3,4,5,8]

Output: [1,5]

**Explanation:** Only 1 and 5 appeared in the three arrays.

</aside>


To find the integers that appear in all three arrays, you can use a common element search approach. Here's an algorithm that solves the problem:

1. Initialize three pointers, one for each array: ptr1 = 0, ptr2 = 0, and ptr3 = 0.
2. Initialize an empty list to store the common integers: result = [].
3. Iterate until any of the pointers reaches the end of its respective array:

* Compare the current elements at arr1[ptr1], arr2[ptr2], and arr3[ptr3].

* If all three elements are equal, add the element to the result list and increment all three pointers (ptr1, ptr2, and ptr3) by 1.

* If the current elements are not equal, increment the pointer of the array with the smallest element.

4. Return the result list containing the common integers.

In [1]:
def find_common_elements(arr1, arr2, arr3):
    ptr1, ptr2, ptr3 = 0, 0, 0
    result = []

    while ptr1 < len(arr1) and ptr2 < len(arr2) and ptr3 < len(arr3):
        if arr1[ptr1] == arr2[ptr2] == arr3[ptr3]:
            result.append(arr1[ptr1])
            ptr1 += 1
            ptr2 += 1
            ptr3 += 1
        else:
            min_val = min(arr1[ptr1], arr2[ptr2], arr3[ptr3])
            if arr1[ptr1] == min_val:
                ptr1 += 1
            if arr2[ptr2] == min_val:
                ptr2 += 1
            if arr3[ptr3] == min_val:
                ptr3 += 1

    return result

In [2]:
arr1 = [1, 2, 3, 4, 5]
arr2 = [1, 2, 5, 7, 9]
arr3 = [1, 3, 4, 5, 8]

result = find_common_elements(arr1, arr2, arr3)
print(result)

[1, 5]

**Question 2**

Given two **0-indexed** integer arrays nums1 and nums2, return *a list* answer *of size* 2 *where:*

- answer[0] *is a list of all **distinct** integers in* nums1 *which are **not** present in* nums2*.*
- answer[1] *is a list of all **distinct** integers in* nums2 *which are **not** present in* nums1.

**Note** that the integers in the lists may be returned in **any** order.

**Example 1:**

**Input:** nums1 = [1,2,3], nums2 = [2,4,6]

**Output:** [[1,3],[4,6]]

**Explanation:**

For nums1, nums1[1] = 2 is present at index 0 of nums2, whereas nums1[0] = 1 and nums1[2] = 3 are not present in nums2. Therefore, answer[0] = [1,3].

For nums2, nums2[0] = 2 is present at index 1 of nums1, whereas nums2[1] = 4 and nums2[2] = 6 are not present in nums2. Therefore, answer[1] = [4,6].

</aside>

To solve this problem, you can use set operations in Python. Here's an algorithm that solves the problem:

1. Convert both nums1 and nums2 to sets to remove duplicate elements and facilitate set operations.

2. Find the set difference between nums1 and nums2 to get the distinct integers in nums1 that are not present in nums2. Store the result in a variable, let's call it diff1.

3. Find the set difference between nums2 and nums1 to get the distinct integers in nums2 that are not present in nums1. Store the result in a variable, let's call it diff2.

4. Convert diff1 and diff2 back to lists and return a list containing both lists: [list(diff1), list(diff2)].

In [3]:
def find_missing_numbers(nums1, nums2):
    set1 = set(nums1)
    set2 = set(nums2)

    diff1 = set1 - set2
    diff2 = set2 - set1

    return [list(diff1), list(diff2)]

In [4]:
nums1 = [1, 2, 3]
nums2 = [2, 4, 6]

result = find_missing_numbers(nums1, nums2)
print(result)

[[1, 3], [4, 6]]

**Question 3**

Given a 2D integer array matrix, return *the **transpose** of* matrix.

The **transpose** of a matrix is the matrix flipped over its main diagonal, switching the matrix's row and column indices.

**Example 1:**

Input: matrix = [[1,2,3],[4,5,6],[7,8,9]]

Output: [[1,4,7],[2,5,8],[3,6,9]]

</aside>

To find the transpose of a matrix, you need to swap the rows and columns. Here's an algorithm that solves the problem:

1. Initialize an empty list to store the transpose of the matrix: transpose = [].

2. Iterate over the columns of the matrix using a nested loop:

* Initialize an empty list for each column: column = [].

* Iterate over the rows of the matrix using another loop:

* Append the element at matrix[row][column] to the column list.

* Append the column list to the transpose list.
4. Return the transpose list.

In [5]:
def transpose(matrix):
    rows = len(matrix)
    columns = len(matrix[0])
    transpose = []

    for col in range(columns):
        column = []
        for row in range(rows):
            column.append(matrix[row][col])
        transpose.append(column)

    return transpose

In [6]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

result = transpose(matrix)
print(result)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

**Question 4**

Given an integer array nums of 2n integers, group these integers into n pairs (a1, b1), (a2, b2), ..., (an, bn) such that the sum of min(ai, bi) for all i is **maximized**. Return *the maximized sum*.

**Example 1:**

Input: nums = [1,4,3,2]

Output: 4

**Explanation:** All possible pairings (ignoring the ordering of elements) are:

1. (1, 4), (2, 3) -> min(1, 4) + min(2, 3) = 1 + 2 = 3

2. (1, 3), (2, 4) -> min(1, 3) + min(2, 4) = 1 + 2 = 3

3. (1, 2), (3, 4) -> min(1, 2) + min(3, 4) = 1 + 3 = 4

So the maximum possible sum is 4.

</aside>


To maximize the sum of the minimum values, you should pair the numbers such that the difference between the numbers in each pair is minimized. Here's an algorithm that solves the problem:

1. Sort the nums array in ascending order.
2. Initialize a variable max_sum to store the maximized sum.
3. Iterate over the sorted nums array by incrementing the index by 2 in each iteration:
* Add the smaller value between nums[i] and nums[i+1] to the max_sum.
4. Return the max_sum.

In [7]:
def array_pair_sum(nums):
    nums.sort()
    max_sum = 0

    for i in range(0, len(nums), 2):
        max_sum += min(nums[i], nums[i+1])

    return max_sum

In [8]:
nums = [1, 4, 3, 2]

result = array_pair_sum(nums)
print(result)

4

**Question 5**
You have n coins and you want to build a staircase with these coins. The staircase consists of k rows where the ith row has exactly i coins. The last row of the staircase **may be** incomplete.

Given the integer n, return *the number of **complete rows** of the staircase you will build*.

**Example 1:**

[]()

![v2.jpg](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/4bd91cfa-d2b1-47b3-8197-a72e8dcfff4b/v2.jpg)

**Input:** n = 5

**Output:** 2

**Explanation:** Because the 3rd row is incomplete, we return 2.

</aside>


To find the number of complete rows in the staircase, you can use the concept of triangular numbers. Triangular numbers represent the sum of consecutive integers from 1 to n.

Here's an algorithm that solves the problem:

1. Initialize a variable row to store the current row number, starting from 1.
2. While n is greater than or equal to row, subtract row from n and increment row by 1.
3. Return row - 1.

In [9]:
def arrange_coins(n):
    row = 1

    while n >= row:
        n -= row
        row += 1

    return row - 1

In [10]:
n = 5

result = arrange_coins(n)
print(result)

2

**Question 6**

Given an integer array nums sorted in **non-decreasing** order, return *an array of **the squares of each number** sorted in non-decreasing order*.

**Example 1:**

Input: nums = [-4,-1,0,3,10]

Output: [0,1,9,16,100]

**Explanation:** After squaring, the array becomes [16,1,0,9,100].
After sorting, it becomes [0,1,9,16,100]

</aside>

To square each number in the array and sort them in non-decreasing order, you can follow these steps:

1. Initialize an empty list to store the squared numbers: squared_nums = [].
2. Iterate over each number in the nums array:
* Square the current number and append it to the squared_nums list.
3. Sort the squared_nums list in non-decreasing order.
4. Return the sorted squared_nums list.

In [11]:
def sorted_squares(nums):
    squared_nums = []

    for num in nums:
        squared_nums.append(num ** 2)

    squared_nums.sort()

    return squared_nums

In [12]:
nums = [-4, -1, 0, 3, 10]

result = sorted_squares(nums)
print(result)

[0, 1, 9, 16, 100]

**Question 7**
You are given an m x n matrix M initialized with all 0's and an array of operations ops, where ops[i] = [ai, bi] means M[x][y] should be incremented by one for all 0 <= x < ai and 0 <= y < bi.

Count and return *the number of maximum integers in the matrix after performing all the operations*

**Example 1:**

![q4.jpg](https://s3-us-west-2.amazonaws.com/secure.notion-static.com/4d0890d0-7bc7-4f59-be8e-352d9f3c1c52/q4.jpg)

**Input:** m = 3, n = 3, ops = [[2,2],[3,3]]

**Output:** 4

**Explanation:** The maximum integer in M is 2, and there are four of it in M. So return 4.

</aside>

1. Initialize min_row and min_col to the maximum possible row and column indices (m and n respectively).
2. Iterate over each operation [ai, bi] in the ops array:
* Update min_row to the minimum of min_row and ai.
* Update min_col to the minimum of min_col and bi.
3. Return the product of min_row and min_col.

In [13]:
def max_count(m, n, ops):
    min_row = m
    min_col = n

    for op in ops:
        min_row = min(min_row, op[0])
        min_col = min(min_col, op[1])

    return min_row * min_col

In [14]:
m = 3
n = 3
ops = [[2, 2], [3, 3]]

result = max_count(m, n, ops)
print(result)

4

**Question 8**

Given the array nums consisting of 2n elements in the form [x1,x2,...,xn,y1,y2,...,yn].

*Return the array in the form* [x1,y1,x2,y2,...,xn,yn].

**Example 1:**

**Input:** nums = [2,5,1,3,4,7], n = 3

**Output:** [2,3,5,4,1,7]

**Explanation:** Since x1=2, x2=5, x3=1, y1=3, y2=4, y3=7 then the answer is [2,3,5,4,1,7].

</aside>

1. Create an empty list to store the rearranged elements: result = [].
2. Iterate over the range from 0 to n:
* Append the ith element from the first half (nums[i]) to the result list.
* Append the ith element from the second half (nums[n + i]) to the result list.
3. Return the result list.

In [15]:
def rearrange_array(nums, n):
    result = []

    for i in range(n):
        result.append(nums[i])
        result.append(nums[n + i])

    return result

In [16]:
nums = [2, 5, 1, 3, 4, 7]
n = 3

result = rearrange_array(nums, n)
print(result)

[2, 3, 5, 4, 1, 7]